/* 画面のスタイルシート */
 
body {
    font-family: "Noto Sans JP","sans-serif";
    margin: 0;
    min-width: 1076px;
}
 
.color-green {
    color: #00abae;
}
 
.sub-title {
    font-size: 32px;
}
 
 
/*
 * [headerタグ]のスタイルシート
 */
 
.block-header {
    margin: 10px 0;
    padding: 0 20px 10px;
    box-shadow: 0 10px 10px -5px rgba(204,204,204,0.3);
}
 
.block-header a {
    font-size: 40px;
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
}
 
/* [main]のスタイルシート */
 
.block-main {
    text-align: center;
    margin: 100px 0;
}
 
/* [profile]のスタイルシート*/
 
.item-list {
    width: 100%;
    max-width: 348px;
    margin: 0 auto;
}
 
.item-list b {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 30px;
}
 
.item-list p {
    font-size: 15px;
    line-height: normal;
    text-align: left;
}
 
.icon-list {
    list-style: none;
    width: 100%;
    max-width: 247px;
    margin: 30px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.icon-list li {
    margin-right: 22px;
}
 
.icon-list li:last-child {
    margin-right: 0;
}
 
/*
 * [works]のスタイルシート
 */
 
 .box-works {
     margin: 80px 0 0;
 }
 
 .works-list {
     list-style: none;
     width: 100%;
     max-width: 1076px;
     margin: 30px auto;
     padding: 0;
     text-align: left;
     overflow: hidden;
 }
 
 .works-list li {
     display: block;
     width: 100%;
     max-width: 348px;
     float: left;
     margin-right: 15px;
 }
 
 .works-list li:last-child {
     margin-right: 0;
 }
 
 .works-list li img {
     width: 100%;
     border: 1px solid #CCC;
  }
 
  .works-list li h3 {
      font-size: 24px;
      margin: 10px 0;
  }
 
  .works-list li span {
      font-size: 18px;
  }
 
  .works-list li .link {
      display: flex;
      justify-content: left;
      align-items: left;
      margin-top: 15px;
  }
 
  .works-list li .link a {
      background-color: rgb(226,226,226);
      padding: 5px 20px;
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      color: #000;
  }
 
  /*
   * [footer]のスタイルシート
   */
 
   .block-footer p {
       clear: both;
       text-align: center;
       font-size: 15px;
       margin: 50px 0 20px;
   }
 
 
   /* スマホ用のスタイルシート */
    /*@media screen and (max-width: 480px) {
        .sub-title {
            color: red;
        }
    }*/
 
   /*
    * タブレット用のスタイルシート
    */
 
    @media screen and (max-width:767px) {
        body {
            min-width: 100%;
        }
        
        .sub-title {
            font-size: 24px;
        }
     
        /* [header]のスタイルシート */
     
    .block-header {
        padding: 0 10px 10px;
        box-shadow: 0px 8px 8px -5px rgba(204,204,204,0.3);
    }
     
    .block-header a {
        font-size: 31px;
    }
     
    /* [main]のスタイルシート */
     
    .block-main {
        text-align: center;
        margin: 50px 0;
    }
     
    /* [profile]のスタイルシート */
     
    .box-profile {
        padding: 0 10px;
    }
     
    .item-list {
     
        max-width: 100%;
     
    }
     
    .item-list b {
        font-size: 18px;
     
    }
     
    .item-list p {
        font-size: 14px;
        line-height: normal;
        text-align: left;
    }
     
    .icon-list {
     
        max-width: 100%;
     
    }
     
    .icon-list li {
        margin-right: 25px;
    }
     
    /* [works]のスタイルシート */
     
    .box-works {
        margin: 60px 0 0;
        padding: 0 10px;
    }
     
    .works-list {max-width: 100%;}
     
    .works-list li {
        float: none;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
     
     
     
    .works-list li h3 {
        font-size: 20px;
        margin: 5px 0;
    }
     
    .works-list li span {font-size: 14px;}
     
    }